APP_ID=myapp
PORT=3000
LOG_LEVEL=debug
REQUEST_LIMIT=100kb
SESSION_SECRET=mySecret
SWAGGER_API_SPEC=/api/v1/spec
ENDPOINTFEED=http://10.0.159.68:7800/consultapendientesconfirmacionrst/v1/consultaPendientesConfirmacion
